#NewsPage{
    margin-top: 150px;
    padding: 0 32px 32px;
    width: 100%;
    
    article{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        
        .center{
            max-width: 960px;

            @media screen and (min-width: 1024px) {
               margin: 0px 150px;
            }

            figure{
                height: 400px;
                position: relative;
                width: 100%;
                margin-bottom: 24px;

                img{
                    object-fit: cover;
                    aspect-ratio: 1;
                }
            
            }
        }
    }
}