#NewsPage{
    margin-top: 50px;
    padding: 0 32px 32px;
    width: 100%;
    display: flex;

    article{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        
        .center{
            max-width: 960px;

            figure{
                height: 450px;
                position: relative;
                width: 100%;
                margin-bottom: 24px;

                img{
                    object-fit: cover;
                    aspect-ratio: 1;
                }
            
            }

            div{
                display: flex;
                flex-direction: column;
                gap: 16px;
                line-height: 1.6;
                font-size: 18px;
                color: #374151;
                
                p {
                    margin-bottom: 8px;
                }

                h2 {
                    font-size: 28px;
                    font-weight: 700;
                    margin-top: 24px;
                    color: #111827;
                }
                
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2;
                    margin-top: 16px;
                    color: #1f2937;
                }
                
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-left: 24px;
                    list-style-type: disc;
                    
                    li{
                        padding-left: 8px;
                    }
                }

                strong {
                    font-weight: 700;
                    color: #111827;
                }

            }
        }
    }
}

.cta-button{
    border-radius: 15px;
}