#NewsPage{
    margin-top: 50px;
    padding: 0 32px 32px;
    width: 100%;
    display: flex;

    article{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        
        .center{
            max-width: 960px;

            figure{
                height: 450px;
                position: relative;
                width: 100%;
                margin-bottom: 24px;

                img{
                    object-fit: cover;
                    aspect-ratio: 1;
                }
            
            }

            div{
                display: flex;
                flex-direction: column;
                gap: 16px;
                
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2;
                }
                
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    li{
                        padding-left: 8px;
                    }
                }

            }
        }
    }
}

.cta-button{
    border-radius: 15px;
}